html {
  background-image: url("./india watermark.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
body > div {
  width: 900px;
  border: 10px solid rgb(178, 174, 174);
  height: 600px;
  margin: 10px;
  position: relative;
  top: 50px;
  left: calc(50% - 450px);
}
#strength {
  background-color: orange;
  width: 100%;
  height: 33.33%;
  position: absolute;
  top: 0px;
}
#peace {
  background-color: white;
  width: 100%;
  height: 33.33%;
  position: absolute;
  top: 200px;
}
img {
  border-radius: 50%;
  margin: 0px;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 350px;
}
#growth {
  background-color: green;
  width: 100%;
  height: 33.33%;
  position: absolute;
  top: 400px;
}
